{% extends "index.html" %}

{% block titulo %}| Crear Staff{% endblock %}


{% block cuerpo %} 
{% if staff > 4 %}
<div data-aos="zoom-in">
    <div class="cuerpo2">
        <br>
        <div class="row">
            <div class="col-4"></div>

            <div class="col-8">
                <h1 style="color: white;">Crear Staff</h1>
            </div>
            
        </div>

        <hr>

        {% if messages %}
            {% for msg in messages %}
                <b>{{msg}}</b>
            {% endfor %}

        {% endif %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% for campo in formulario %}

                {% if campo.name == 'sexo' %}
                    <div class="mb-3">
                        <label for="" class="form-label">{{campo.label}}:</label>
                            <input type="radio" value="M" name="{{campo.name}}" checked="checked"> Mujer
                            <input type="radio" value="H" name="{{campo.name}}"> Hombre
                            <input type="radio" value="O" name="{{campo.name}}"> Otro  
                    </div>
                {% elif campo.name == 'nivel_staff' %}
                    <div class="mb-3">
                        <label for="" class="form-label">{{campo.label}}:</label>
                            <input type="radio" value="0" name="{{campo.name}}" checked="checked"> 0
                            <input type="radio" value="1" name="{{campo.name}}"> 1
                            <input type="radio" value="2" name="{{campo.name}}"> 2
                            <input type="radio" value="3" name="{{campo.name}}"> 3  
                            <input type="radio" value="4" name="{{campo.name}}"> 4 
                            <input type="radio" value="5" name="{{campo.name}}"> 5 
                    </div>
                {% elif campo.name == 'password' %}
                <div class="mb-3">
                    <label for="" class="form-label">{{campo.label}}:</label>
                
                
                    <input type="password"
                        class="form-control" 
                        name="{{campo.name}}" required
                        id="" 
                        aria-describedby="helpId" 
                        placeholder="{{campo.label}}">
                
                </div>
                {% elif campo.name == 'nombre_unico'%}

                {% else %}  
                    <div class="mb-3">
                        <label for="" class="form-label">{{campo.label}}:</label>
                    
                    
                        <input type="{{campo.field.widget.input_type}}" required
                            class="form-control" 
                            name="{{campo.name}}" 
                            id="" 
                            aria-describedby="helpId" 
                            placeholder="{{campo.label}}">
                    
                    </div>
                {%endif%}
            
            {% endfor %}
            <button class="btn btn-success" type="submit">Aceptar Cambios</button>
        </form>
    </div>
    </div>
</div>

<br>
<br>
<br>

{% else %}
<br>
<div class="row">
    <div class="col-4"></div>

    <div class="col-8">
        <h1 style="color: rgb(255, 0, 0);">Acceso Denegado</h1>
    </div>

</div>

<hr>
{% endif %}
{% endblock %}