{% extends "index.html" %}

{% block titulo %}| Editar Servicios{% endblock %}


{% block cuerpo %} 
{% if staff > 2 %}

<div data-aos="zoom-in">
    <div class="cuerpo2">
        <br>
        <div class="row">
            <div class="col-4"></div>

            <div class="col-8">
                <h1 style="color: white;">Edita el Servicio</h1>
            </div>
            
        </div>

        <hr>

        {% if messages %}
            {% for msg in messages %}
                <b>{{msg}}</b>
            {% endfor %}

        {% endif %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {% for v in formulario %}

                <div class="mb-3">
                    <label for="" class="form-label">{{v.label}}:</label>
                    {% if v.field.widget.input_type == 'file' and v.value %}
                        <img src="{{ MEDIA_URL }}/imagenes/{{ v.value }}" style="width: 100px; height: 100px;" alt="">
                        <br>
                    {% endif %}
                    <input type="{{v.field.widget.input_type}}" required
                        class="form-control" 
                        name="{{v.name}}" 
                        id="" 
                        aria-describedby="helpId" 
                        placeholder="{{v.value}}"
                        value="{{v.value}}">
                </div>
                
            {% endfor %}
            <button class="btn btn-success" type="submit">Aceptar Cambios</button>
        </form>
    </div>
    </div>
</div>

<br>
<br>
<br>
{% else %}
<br>
<div class="row">
    <div class="col-4"></div>

    <div class="col-8">
        <h1 style="color: rgb(255, 0, 0);">Acceso Denegado</h1>
    </div>

</div>

<hr>
{% endif %}
{% endblock %}